header{
  border-bottom: 1px solid #dad9d9;
  margin:10px 0px;
  padding-bottom: 5px;

  // grid 
  display: grid;
  grid-template-columns: 80% 20%;
  .menuTop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a{
      color: $primaryColor;
      font-size: 22px;
    }
  }
  img.fotoPerfil{
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #ebebeb;
  }

  .nombreUsuario{
    font-size: 13px;
    color: $secondaryColor;
    font-weight: bold;
    margin-left: 5px;
  }
}